{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'reset.css' %}" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <script src="{% static 'default.js' %}" defer></script>
    <title>ТрендСіті - О нас</title>
  </head>
  <body>
    <div class="overlay" id="overlay"></div>

    {% include 'slider_menu.html' %} {% include 'authpopup.html' %}

    <div class="page-wrap">
      {% include 'navbar.html' %}
      <main class="main">
        <div class="main-wrap container">
          <section class="main__panel">
            <div class="panel-wrap">
              <!-- prettier-ignore -->
              {% include 'panel_categories.html' %}
              {% include 'panel_top.html' %}
              {% include 'panel_info.html' %}
            </div>
          </section>
          <section class="main__content aboutus">
            <div class="main__content-wrap">
              <div class="path-structure">
                <div class="path-structure-wrap">
                  <div class="path-structure__item">
                    <img
                      src="{% static 'home-icon.svg' %}"
                      alt="icon"
                      class="path-structure__icon"
                    />
                    <a href="{% url 'index' %}" class="path-structure__title"
                      >Головна</a
                    >
                    <img
                      src="{% static 'arrow-path-icon.svg' %}"
                      alt="arrow-icon"
                      class="path-structure__arrow path-structure__icon"
                    />
                  </div>

                  <div class="path-structure__item">
                    <img
                      src="{% static 'warning-icon.svg' %}"
                      alt="icon"
                      class="path-structure__icon"
                    />
                    <span class="path-structure__title">О нас</span>
                  </div>
                </div>
              </div>
              <div class="aboutus__content">
                <h4 class="aboutus__title">
                  Ваш український маркетплейс – TrendCity: Лідер ринку з 2024
                  року
                </h4>
                <p class="aboutus__text">
                  Ваш ідеальний маркетплейс для покупки товарів в Україні. Ми
                  успішно працюємо з 2024 року, пропонуючи унікальну платформу,
                  яка об’єднує сотні якісних товарів від провідних виробників.
                  Незалежно від ваших потреб, TrendCity допоможе вам знайти саме
                  те, що ви шукаєте. Завітайте та знайдіть ідеальний продукт,
                  який відповідає вашим очікуванням!
                </p>
                <h4 class="aboutus__title">Гарантія якості товарів</h4>
                <p class="aboutus__text">
                  На TrendCity ми гарантуємо високу якість усіх товарів на нашій
                  платформі. Кожен продукт ретельно перевіряється перед
                  відправкою, щоб відповідати найвищим стандартам якості. Ми
                  забезпечуємо надійність і безпечність продукції для наших
                  клієнтів, щоб ви могли з упевненістю купувати найкращі товари
                  онлайн.
                </p>
              </div>
              <div class="aboutus__main-title">
                <h4 class="aboutus__main-title">ТрендСіті</h4>
                <strong class="aboutus__main-subtitle">Для покупців</strong>
                <div class="line"></div>
              </div>
              <div class="info_block">
                <div class="info_block__item aboutus__content">
                  <div class="info_block__item-header">
                    <img
                      src="{% static 'delivery-icon.svg' %}"
                      alt="item-icon"
                      class="info_block__item-icon"
                    />
                    <h4 class="info_block__item-title">Доставка</h4>
                  </div>
                  <p class="info_block__item-text">
                    Ми пропонуємо швидку та надійну доставку по всій території
                    України. Ви отримаєте своє замовлення у найкоротші терміни.
                    Обирайте зручний для себе спосіб
                  </p>
                </div>
                <div class="info_block__item aboutus__content">
                  <div class="info_block__item-header">
                    <img
                      src="{% static 'payment-method-icon.svg' %}"
                      alt="item-icon"
                      class="info_block__item-icon"
                    />
                    <h4 class="info_block__item-title">Оплата</h4>
                  </div>
                  <p class="info_block__item-text">
                    Оплатити замовлення можна онлайн через банківську картку або
                    при отриманні готівкою Усі платежі захищені сучасними
                    технологіями безпеки, що гарантує надійність вашої
                    транзакції.
                  </p>
                </div>
                <div class="info_block__item aboutus__content">
                  <div class="info_block__item-header">
                    <img
                      src="{% static 'return-box-icon.svg' %}"
                      alt="item-icon"
                      class="info_block__item-icon"
                    />
                    <h4 class="info_block__item-title">Повернення</h4>
                  </div>
                  <p class="info_block__item-text">
                    Перевірка при отриманні на Новій Пошті. У разі браку або
                    помилки — повертаємо гроші після повернення товару.
                    Парфумерія не підлягає поверненню згідно із Законом України.
                    Усі товари перевіряються перед відправкою.
                  </p>
                </div>
                <div class="info_block__item aboutus__content">
                  <div class="info_block__item-header">
                    <img
                      src="{% static 'guarantee-icon.svg' %}"
                      alt="item-icon"
                      class="info_block__item-icon"
                    />
                    <h4 class="info_block__item-title">Гарантія</h4>
                  </div>
                  <p class="info_block__item-text">
                    Ми гарантуємо якість усіх товарів, представлених на нашому
                    маркетплейсі. У разі виявлення дефектів або несправностей,
                    ви можете скористатися гарантійним обслуговуванням, яке діє
                    згідно з українським законодавством.
                  </p>
                </div>
              </div>
              <div class="partners">
                <div class="partners__part aboutus__content">
                  <h4 class="partners__title">
                    Співпраця з TrendCity<br />Ваші переваги як бізнес-партнера
                  </h4>
                  <p class="partners__text">
                    TrendCity пропонує бізнесам доступ до широкого асортименту
                    товарів, вигідні умови співпраці, конкурентні ціни та швидку
                    доставку. Наша команда завжди готова надати професійну
                    допомогу для успішного розвитку вашого бізнесу.
                  </p>
                  <p class="partners__text">
                    Щоб розпочати співпрацю, заповніть форму на нашому сайті,
                    виберіть потрібні товари та обговоріть умови. Ми швидко
                    організуємо доставку, щоб ви могли зосередитися на розвитку
                    свого бізнесу. Розвивайте свій бізнес разом з TrendCity!
                  </p>
                  <h4 class="partners__title">ІННОВАЦІЙНИЙ ПРОДУКТ</h4>
                  <h4 class="partners__title">КЛІЄНТСЬКА ПІДТРИМКА</h4>
                  <h4 class="partners__title">ОТРИМАННЯ ЕКСКЛЮЗИВУ</h4>
                </div>
                <div class="partners__part aboutus__content">
                  {% if messages %} {% for message in messages %}
                  <div
                    class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
                  >
                    {{ message }}
                  </div>
                  {% endfor %} {% endif %}
                  <form
                    action="{% url 'partner_form' %}"
                    method="POST"
                    class="partners__form"
                  >
                    {% csrf_token %}
                    <div class="partners__form-wrap">
                      <div class="form__input-wrap form__input-name">
                        <img
                          class="form__input-icon"
                          src="{% static 'user-icon.svg' %}"
                          alt="Иконка профиля"
                        />
                        <input
                          type="text"
                          class="form__input"
                          id="partners__name"
                          name="partners__name"
                          placeholder="І’мя"
                          required
                        />
                      </div>
                      <div class="form__input-number">
                        <div class="form__input-wrap">
                          <input
                            type="text"
                            class="form__input"
                            id="partners__phone-code"
                            name="partners__phone-code"
                            placeholder="+380"
                            required
                          />
                        </div>
                        <div class="form__input-wrap">
                          <img
                            class="form__input-icon"
                            src="{% static 'phone-icon.svg' %}"
                            alt="Иконка телефона"
                          />
                          <input
                            type="tel"
                            class="form__input"
                            id="partners__phone"
                            name="partners__phone"
                            placeholder="Номер телефону"
                            required
                          />
                        </div>
                      </div>
                      <div class="form__input-wrap form__input-email">
                        <img
                          class="form__input-icon"
                          src="{% static 'message-icon.svg' %}"
                          alt="Иконка сообщения"
                        />
                        <input
                          type="email"
                          class="form__input"
                          id="partners__email"
                          name="partners__email"
                          placeholder="Ел. пошта"
                          required
                        />
                      </div>
                      <div class="form__input-wrap form__input-city">
                        <img
                          class="form__input-icon"
                          src="{% static 'place-icon.svg' %}"
                          alt="Иконка сообщения"
                        />
                        <input
                          type="text"
                          class="form__input"
                          id="partners__city"
                          name="partners__city"
                          placeholder="Місто"
                          required
                        />
                      </div>
                      <div class="form__input-wrap form__input-text">
                        <textarea
                          type="text"
                          class="form__input"
                          id="partners__text"
                          name="partners__text"
                          placeholder="Опишіть напрямок вашего бізнесу"
                          required
                        ></textarea>
                      </div>
                      <div class="form__partners-btn">
                        <button class="form__button" type="submit">
                          Залишити запит
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="aboutus__main-title">
                <h4 class="aboutus__main-title">ТрендСіті</h4>
                <strong class="aboutus__main-subtitle">Відгуки</strong>
                <div class="line"></div>
              </div>
              <div class="reviews">
                <ul class="reviews__list">
                  <li class="reviews__list-item aboutus__content">
                    <div class="reviews__list-item__rating">
                      <div>
                        <img
                          src="{% static 'star-icon.svg' %}"
                          alt="star"
                          class="reviews__list-item__img"
                        />
                        <span>4,8</span>
                      </div>
                    </div>
                    <p class="reviews__list-item__text">
                      Замовляю на TrendCity багато разів — завжди швидка
                      доставка і відмінна якість товарів. Дуже зручно перевіряти
                      посилку на Новій Пошті це дає впевненість.
                    </p>
                    <div class="line"></div>
                    <h5 class="reviews__list-item__username">Олена Мазур</h5>
                  </li>
                  <li class="reviews__list-item aboutus__content">
                    <div class="reviews__list-item__rating">
                      <div>
                        <img
                          src="{% static 'star-icon.svg' %}"
                          alt="star"
                          class="reviews__list-item__img"
                        />
                        <span>4,8</span>
                      </div>
                    </div>
                    <p class="reviews__list-item__text">
                      Замовляю на TrendCity багато разів — завжди швидка
                      доставка і відмінна якість товарів. Дуже зручно перевіряти
                      посилку на Новій Пошті це дає впевненість.
                    </p>
                    <div class="line"></div>
                    <h5 class="reviews__list-item__username">Олена Мазур</h5>
                  </li>
                  <li class="reviews__list-item aboutus__content">
                    <div class="reviews__list-item__rating">
                      <div>
                        <img
                          src="{% static 'star-icon.svg' %}"
                          alt="star"
                          class="reviews__list-item__img"
                        />
                        <span>4,8</span>
                      </div>
                    </div>
                    <p class="reviews__list-item__text">
                      Замовляю на TrendCity багато разів — завжди швидка
                      доставка і відмінна якість товарів. Дуже зручно перевіряти
                      посилку на Новій Пошті це дає впевненість.
                    </p>
                    <div class="line"></div>
                    <h5 class="reviews__list-item__username">Олена Мазур</h5>
                  </li>
                  <li class="reviews__list-item aboutus__content">
                    <div class="reviews__list-item__rating">
                      <div>
                        <img
                          src="{% static 'star-icon.svg' %}"
                          alt="star"
                          class="reviews__list-item__img"
                        />
                        <span>4,8</span>
                      </div>
                    </div>
                    <p class="reviews__list-item__text">
                      Замовляю на TrendCity багато разів — завжди швидка
                      доставка і відмінна якість товарів. Дуже зручно перевіряти
                      посилку на Новій Пошті це дає впевненість.
                    </p>
                    <div class="line"></div>
                    <h5 class="reviews__list-item__username">Олена Мазур</h5>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </main>
      {% include 'footer.html' %}
    </div>
  </body>
</html>
