{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'reset.css' %}" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <script src="{% static 'default.js' %}" defer></script>
    <title>{% trans "ТрендСіті - О нас" %}</title>
  </head>
  <body>
    <div class="overlay" id="overlay"></div>

    {% include 'slider_menu.html' %} {% include 'authpopup.html' %}

    <div class="page-wrap">
      {% include 'navbar.html' %}
      <main class="main">
        <div class="main-wrap container">
          <section class="main__panel">
            <div class="panel-wrap">
              <!-- prettier-ignore -->
              {% include 'panel_categories.html' %}
              {% include 'panel_top.html' %}
              {% include 'panel_info.html' %}
            </div>
          </section>
          <section class="main__content aboutus">
            <div class="main__content-wrap">
              <div class="path-structure">
                <div class="path-structure-wrap">
                  <div class="path-structure__item">
                    <img
                      src="{% static 'home-icon.svg' %}"
                      alt="icon"
                      class="path-structure__icon"
                    />
                    <a href="{% url 'index' %}" class="path-structure__title"
                      >{% trans "Головна" %}</a
                    >
                    <img
                      src="{% static 'arrow-path-icon.svg' %}"
                      alt="arrow-icon"
                      class="path-structure__arrow path-structure__icon"
                    />
                  </div>

                  <div class="path-structure__item">
                    <img
                      src="{% static 'warning-icon.svg' %}"
                      alt="icon"
                      class="path-structure__icon"
                    />
                    <span class="path-structure__title">{% trans "О нас" %}</span>
                  </div>
                </div>
              </div>
              <div class="aboutus__content">
                {% for item in aboutus_header_items %}
                <p class="aboutus__text">{{ item.text|safe }}</p>
                {% endfor %}
              </div>
              <div class="aboutus__main-title">
                <h4 class="aboutus__main-title">{% trans "ТрендСіті" %}</h4>
                <strong class="aboutus__main-subtitle">{% trans "Для покупців" %}</strong>
                <div class="line"></div>
              </div>
              <div class="info_block">
                {% for item in aboutus_forclient_items %}
                <div class="info_block__item aboutus__content">
                  <div class="info_block__item-header">
                    <img
                      src="{{ item.icon.url }}"
                      alt="item-icon"
                      class="info_block__item-icon"
                    />
                    <h4 class="info_block__item-title">{{ item.header }}</h4>
                  </div>
                  <p class="info_block__item-text">{{ item.text|safe }}</p>
                </div>
                {% endfor %}
              </div>
              <div class="partners">
                <div class="partners__part aboutus__content">
                  {% for item in aboutus_formtext_items %}
                  <p class="partners__text">{{ item.text|safe }}</p>
                  {% endfor %}
                </div>
                <div class="partners__part aboutus__content">
                  {% if messages %} {% for message in messages %}
                  <div
                    class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
                  >
                    {{ message }}
                  </div>
                  {% endfor %} {% endif %}
                  <form
                    action="{% url 'partner_form' %}"
                    method="POST"
                    class="partners__form"
                  >
                    {% csrf_token %}
                    <div class="partners__form-wrap">
                      <div class="form__input-wrap form__input-name">
                        <img
                          class="form__input-icon"
                          src="{% static 'user-icon.svg' %}"
                          alt='{% trans "Іконка профиля" %}'
                        />
                        <input
                          type="text"
                          class="form__input"
                          id="partners__name"
                          name="partners__name"
                          placeholder='{% trans "І’мя" %}'
                          required
                        />
                      </div>
                      <div class="form__input-number">
                        <div class="form__input-wrap">
                          <input
                            type="text"
                            class="form__input"
                            id="partners__phone-code"
                            name="partners__phone-code"
                            placeholder="+380"
                            required
                          />
                        </div>
                        <div class="form__input-wrap">
                          <img
                            class="form__input-icon"
                            src="{% static 'phone-icon.svg' %}"
                            alt='{% trans "іконка телефона" %}'
                          />
                          <input
                            type="tel"
                            class="form__input"
                            id="partners__phone"
                            name="partners__phone"
                            placeholder='{% trans "Номер телефону" %}'
                            required
                          />
                        </div>
                      </div>
                      <div class="form__input-wrap form__input-email">
                        <img
                          class="form__input-icon"
                          src="{% static 'message-icon.svg' %}"
                          alt='{% trans "Іконка сообщения" %}'
                        />
                        <input
                          type="email"
                          class="form__input"
                          id="partners__email"
                          name="partners__email"
                          placeholder='{% trans "Ел. пошта" %}'
                          required
                        />
                      </div>
                      <div class="form__input-wrap form__input-city">
                        <img
                          class="form__input-icon"
                          src="{% static 'place-icon.svg' %}"
                          alt='{% trans "Іконка собщения" %}'
                        />
                        <input
                          type="text"
                          class="form__input"
                          id="partners__city"
                          name="partners__city"
                          placeholder='{% trans "Місто" %}'
                          required
                        />
                      </div>
                      <div class="form__input-wrap form__input-text">
                        <textarea
                          type="text"
                          class="form__input"
                          id="partners__text"
                          name="partners__text"
                          placeholder='{% trans "Опишіть напрямок вашего бізнесу" %}'
                          required
                        ></textarea>
                      </div>
                      <div class="form__partners-btn">
                        <button class="form__button" type="submit">
                          {% trans "Залишити запит" %}
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="aboutus__main-title">
                <h4 class="aboutus__main-title">{% trans "ТрендСіті" %}</h4>
                <strong class="aboutus__main-subtitle">{% trans "Відгуки" %}</strong>
                <div class="line"></div>
              </div>
              <div class="reviews">
                <ul class="reviews__list">
                  {% for item in aboutus_reviews_items %}
                  <li class="reviews__list-item aboutus__content">
                    <div class="reviews__list-item__rating">
                      <div>
                        <img
                          src="{% static 'star-icon.svg' %}"
                          alt="star"
                          class="reviews__list-item__img"
                        />
                        <span>{{ item.grade }}</span>
                      </div>
                    </div>
                    <p class="reviews__list-item__text">{{ item.text|safe }}</p>
                    <div class="line"></div>
                    <h5 class="reviews__list-item__username">
                      {{ item.name }}
                    </h5>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </section>
        </div>
      </main>
      {% include 'footer.html' %}
    </div>
  </body>
</html>
