<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment TrendCity</title>
  </head>
  <body>
    <div id="liqpay_checkout"></div>
    <script>
      window.LiqPayCheckoutCallback = function () {
        LiqPayCheckout.init({
          data: "{{ data }}",
          signature: "{{ signature }}",
          embedTo: "#liqpay_checkout",
          mode: "popup", // embed || popup,
        })
          .on("liqpay.callback", function (data) {
            if (data.status === "success") {
              localStorage.removeItem('orderId');
              window.location.href = "/user/basket";
            }
          })
          .on("liqpay.ready", function (data) {
            console.log("ready");
          })
          .on("liqpay.close", function (data) {
            localStorage.removeItem('orderId');
            window.location.href = "/user/basket";
          });
      };
    </script>
    <script src="//static.liqpay.ua/libjs/checkout.js" async></script>
    <script src="//unpkg.com/alpinejs" defer></script>
  </body>
</html>
