{% load static %}

<footer class="footer">
  <div class="footer-wrap container-sml">
    <div class="footer-line"></div>
    <div class="footer-info">
      <div class="footer-info__item footer-info__general">
        <h4 class="footer__companyname">ТрендСіті</h4>
        <h5 class="footer__copy footer__copy-1">©ТрендСіті, 2023–2024</h5>
        <img
          src="{% static 'vmpaymethods.png' %}"
          alt="payment methods"
          class="footer__vm-icon footer__vm-icon-1"
        />
      </div>
      <div class="footer-info__item footer-info__information">
        <h5 class="footer__title">Інформація</h5>
        <a href="#" class="footer__link">Гарантія</a>
        <a href="#" class="footer__link">Доставка</a>
        <a href="#" class="footer__link">Оплата</a>
        <a href="#" class="footer__link">Повернення</a>
      </div>
      <div class="footer-info__item footer-info__documentation">
        <h5 class="footer__title">Документація</h5>
        <a href="#" class="footer__link">Політика конфеденційності </a>
        <a href="#" class="footer__link">Договір публічної оферти</a>
      </div>
      <div class="footer-info__item footer-info__contacts">
        <h5 class="footer__title">Контакти</h5>
        <a href="#" class="footer__link">Телефон +38 (063) 67 591 67 </a>
        <div class="footer__contacts-list">
          <a href="#" class="contacts-list__item-link"
            ><img
              src="{% static 'viber-icon.png' %}"
              alt="item-img"
              class="contacts-list__item-img"
          /></a>
          <a href="#" class="contacts-list__item-link"
            ><img
              src="{% static 'telegram-icon.png' %}"
              alt="item-img"
              class="contacts-list__item-img"
          /></a>
          <a href="#" class="contacts-list__item-link"
            ><img
              src="{% static 'instagram-icon.png' %}"
              alt="item-img"
              class="contacts-list__item-img"
          /></a>
          <a href="#" class="contacts-list__item-link"
            ><img
              src="{% static 'facebook-icon.png' %}"
              alt="item-img"
              class="contacts-list__item-img"
          /></a>
          <a href="#" class="contacts-list__item-link"
            ><img
              src="{% static 'tiktok-icon.png' %}"
              alt="item-img"
              class="contacts-list__item-img"
          /></a>
          <img
            src="{% static 'vmpaymethods.png' %}"
            alt="payment methods"
            class="footer__vm-icon footer__vm-icon-2"
          />
        </div>
      </div>
    </div>
  </div>
  <h5 class="footer__copy footer__copy-2">©ТрендСіті, 2023–2024</h5>
</footer>
