{% load static %} {% load i18n %}

<footer class="footer">
  <div class="footer-wrap container-sml">
    <div class="footer-line"></div>
    <div class="footer-info">
      <div class="footer-info__item footer-info__general">
        <h4 class="footer__companyname">{% trans "ТрендСіті" %}</h4>
        <h5 class="footer__copy footer__copy-1">
          ©{% trans "ТрендСіті, 2024–2025" %}
        </h5>
        <img
          src="{% static 'vmpaymethods.png' %}"
          alt="payment methods"
          class="footer__vm-icon footer__vm-icon-1"
        />
      </div>
      <div class="footer-info__item footer-info__information">
        <h5 class="footer__title">{% trans "Інформація" %}</h5>
        <a href="{% url 'about_us' %}" class="footer__link"
          >{% trans "Гарантія" %}</a
        >
        <a href="{% url 'about_us' %}" class="footer__link"
          >{% trans "Доставка" %}</a
        >
        <a href="{% url 'about_us' %}" class="footer__link"
          >{% trans "Оплата" %}</a
        >
        <a href="{% url 'about_us' %}" class="footer__link"
          >{% trans "Повернення" %}</a
        >
      </div>
      <div class="footer-info__item footer-info__documentation">
        <h5 class="footer__title">{% trans "Документація" %}</h5>
        <a href="{% url 'privacypolicy' %}" class="footer__link"
          >{% trans "Політика конфеденційності" %}
        </a>
        <a href="{% url 'publicofferagreement' %}" class="footer__link"
          >{% trans "Договір публічної оферти" %}</a
        >
      </div>
      <div class="footer-info__item footer-info__contacts">
        <h5 class="footer__title">{% trans "Контакти" %}</h5>
        <a href="tel:+380636759167" class="footer__link"
          >{% trans "Телефон +38 (063) 67 591 67" %}</a
        >
        <div class="footer__contacts-list">
          <a href="#" class="contacts-list__item-link"
            ><img
              src="{% static 'viber-icon.png' %}"
              alt="item-img"
              class="contacts-list__item-img"
          /></a>
          <a href="#" class="contacts-list__item-link"
            ><img
              src="{% static 'telegram-icon.png' %}"
              alt="item-img"
              class="contacts-list__item-img"
          /></a>
          <a href="#" class="contacts-list__item-link"
            ><img
              src="{% static 'instagram-icon.png' %}"
              alt="item-img"
              class="contacts-list__item-img"
          /></a>
          <a href="#" class="contacts-list__item-link"
            ><img
              src="{% static 'facebook-icon.png' %}"
              alt="item-img"
              class="contacts-list__item-img"
          /></a>
          <a href="#" class="contacts-list__item-link"
            ><img
              src="{% static 'tiktok-icon.png' %}"
              alt="item-img"
              class="contacts-list__item-img"
          /></a>
          <img
            src="{% static 'vmpaymethods.png' %}"
            alt="payment methods"
            class="footer__vm-icon footer__vm-icon-2"
          />
        </div>
      </div>
    </div>
  </div>
  <h5 class="footer__copy footer__copy-2">
    ©{% trans "ТрендСіті, 2024–2025" %}
  </h5>
</footer>
